<!DOCTYPE html>
<html ng-app="world">
  <head>
    <title>My Globe</title>

    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="plugins/d3.v3.min.js"></script>
    <script src="plugins/queue.v1.min.js"></script>
    <script src="plugins/topojson.v1.min.js"></script>

  </head>
  <body ng-controller="earth">
    <div class="head">
      <h2>DevMountain: Time Lapse</h2>
      <i class="fa fa-toggle-down" ng-hide="open" ng-click="open=true"><h5>More Info</h5></i>
      <i class="fa fa-toggle-up" ng-show="open" ng-click="open=false"><h5>Close</h5></i>
      <div class="moreinfo" ng-show="open">
        <h2>Time Lapse</h2>
        <p>This animation is a visual representation of where DevMountain students came from and where they went after their cohort finished in relation to time.</p>
        <p>The bars on the right are a display of some specific statistics related to total student count,  where they came from, out of state retention rate, and job placement after completion of the course.</p>
        <p class="infoexit" ng-click="open=false">x</p>
      </div>
      <div class="zoom"">
        <i class="fa fa-plus-square-o fa-3x" ng-click="zoomin()"></i><br>
        <i class="fa fa-minus-square-o fa-3x" ng-click="zoomout()"></i>
      </div>

    </div>
    <div class="earth">


    </div>
    <div class="bars" ng-controller="bars">
      <div class="students"><h2>({{data[0]}}) Students</h2></div>
      <div class="states"><h2>({{data[1]}}) States</h2></div>
      <div class="countries"><h2>({{data[2]}}) Countries</h2></div>
      <div class="retention"><h2>({{data[3]}}%) Retention</h2></div>
      <div class="jobs"><h2>({{data[4]}}%) Jobs</h2></div>

    </div>{{data[0]}}-

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/earth.js"></script>
    <script src="js/bars.js"></script>
    <script src="js/service.js"></script>

  </body>
</html>
